#postCreator {
        margin: 50px auto;
        width: 700px;
        border-radius: 20px;
        background-color: white;  
}

#postCreation {
    display: flex;
    flex-direction: column;
}

#title-input {
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid #FD2D01;
    height: 20px;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}

#textZone {
    outline: none;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid #FD2D01;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width: 80%;
    height: 150px;
    font-weight: 700;
    font-size: 1em;
}

input[type="file"] {
    display: none;
}
#file-upload-label {
    border-radius: 10px;
    padding: 5px;
    margin:10px auto 10px 9%;
    width: 150px;
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: #FD2D01;
    display: inline-block;
    cursor: pointer;
}



#postSubmit {
    border-radius: 30px;
    height: 30px;
    background-color: #FD2D01;
    border: none;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-weight: 700;
    color: white;
    font-size: 1em;
}

#postSubmit:hover {
    cursor: pointer;
    color: #FD2D01;
    border: 2px solid #FD2D01;
    background-color: white;
}