#login-container {
    border-radius: 20px;
    margin: 100px auto;
    background-color: white;
    height: 400px;
    width: 300px;
}

h1 {
    padding-top: 10px;
   text-align: center;
}

#login-container > form {
    margin:20px 50px;
}

#email, #password {
    width: 100%;
    padding: 5px 0px 5px 5px;
    margin-top: 30px;
    border: none;
    border: 3px solid #dababa;
    border-radius: 20px;
}

#password:hover {
    border-color: #FD2D01;
}

#email:hover {
    border-color: #FD2D01;
}

input:focus {
    outline: none;
    background-color: rgba(208, 208, 249, 0.444);
}

#login-button {
    border-radius: 20px;
    color: white;
    cursor:pointer;
    background-color: #c05945 ;
    border: none;
    padding: 5px;
    margin-top: 50px;
    width: 100%;
    transition: background-color 500ms, transform 1s;
}

#login-button:hover {
    border: 2px solid #c05945;
    color: #c05945;
    background-color: rgb(217, 217, 217);
}

#login-container > p {
    text-align: center;
}

#register-button {
    padding-left: 5px;
}


/* Primaire : #FD2D01
● Secondaire : #FFD7D7
● Tertiaire : #4E5166 */