@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    background-color:  #4E5166;
  font-family: 'Lato', sans-serif;
}

.postcontainer {
    margin: 50px auto;
    width: 700px;
    border-radius: 20px;
    background-color: white;
}

#name-area {
    padding-left: 10px;
    display: flex;
    height: 40px;
}
#name-area > p {
    margin: 10px;
}

.title {
    height:20px;
    width: 100%;
    text-align: center;
}

#text-zone {
    border-radius: 20px;
    padding: 10px;
    overflow-wrap: break-word;
    border: 1px solid red;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 650px;
}

#likeDislike-area {
    margin-left: 10px;
}

#like {
    background: none;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    color: rgb(15, 164, 17);
}

#dislike {
    background: none;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    color: rgb(191, 37, 37);
}

#button-area {
    margin-right: 10px;
    justify-content:  space-between;
    display: flex;
}
#technic-button > button{
    margin: 10px;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
}



#modif {
    color: white;
    border: 2px solid  orange;
    background-color: orange;
}

#modif:hover {
    border: 2px solid  orange;
    color: orange;
    background-color: white;
}

#delete {
    color: white;
    background-color: rgb(154, 37, 37);
}

#delete:hover {
    border: 2px solid  rgb(154, 37, 37);
    color: rgb(154, 37, 37);
    background-color: white;
}