body {
    background-color: rgba(255, 0, 0, 0.819);
}

#container {
    border-radius: 20px;
    margin: 100px auto;
    background-color: white;
    height: 400px;
    width: 300px;
}

h1 {
   text-align: center;
}

#container > form {
    margin:20px 50px;
}

#email, #password {
    width: 100%;
    padding: 8px 0px 8px 8px;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    border: 3px solid #dababa;
}

#password:hover {
    border-color: lightblue;
}

#email:hover {
    border-color: lightblue;
}

input:focus {
    outline: none;
    background-color: rgba(208, 208, 249, 0.444);
}

#register-button {
    border-radius: 20px;
    color: white;
    cursor:pointer;
    background-color: #c05945 ;
    border: none;
    padding: 5px;
    margin-top: 50px;
    width: 100%;
    transition: background-color 500ms, transform 1s;
}
#register-button:hover {
    border: 2px solid #c05945;
    color: #c05945;
    background-color: rgb(217, 217, 217);
}

#container > p {
    text-align: center;
}

/* Primaire : #FD2D01
● Secondaire : #FFD7D7
● Tertiaire : #4E5166 */